.page {
  width: 100%;
  background-image: url("public/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 64px;
    .logoContent{
      display: flex;
      align-items: center;
      justify-content: center;
      .logo{
        width: 64px;
        height: 64px;
        object-fit: cover;
      }
      .title{
        margin-left: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 41px;
        color: #FFFFFF;
      }
    }
    .navigationBar{
      display: flex;
      align-items: center;
      gap: 85px;
      .bar{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 32px;
        color: #FFFFFF;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }
  }
  .content{
    padding-left: 64px;
    margin-top: 115px;

    .introduce{
      width: 1171px;
      position: relative;
      font-family: 'Montserrat', sans-serif;
      font-size: 88px;
      color: #FFFFFF;
      .cornerMark{
        position: absolute;
        width: 204px;
        height: 85px;
        object-fit: cover;
        bottom: -2px;
        right: -20px;
      }
    }
    .tips{
      margin-top: 40px;
      width: 1190px;
      height: 135px;
      font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
      font-weight: 600;
      font-size: 32px;
      color: rgba(255,255,255,0.72);
    }
    .downloadContent{
      margin-top: 120px;
      height: 148px;
      width: 406px;
      margin-bottom: 193px;
      .download{
        height: 148px;
        width: 406px;
        object-fit: cover;
      }
    }

  }
  .handContent{
    position: absolute;
    bottom: 0;
    right: 45px;
    .hand{
      height: 1000px;
      width: 850px;
      object-fit: cover;
    }
  }
}
